
.List > *:nth-child(odd) .ListElement, .List > .ListElement:nth-child(odd) {
    background: #E1F4F7;
}

.List .ListElement:hover {
    background-color: lightseagreen;
}

.List > a {
    color: black;
    text-decoration: none;
}

.List .ListElement {
    border-radius: 12px;
}