
.Star {
    color: lightseagreen;
}
.StopPage .header {
    font-size: 1.3em;
    margin: 20px 0 10px 0;
    text-align: center;
}


.StopPage .mainRoutes .ListOfRouteLogos > div {
    width: 25px;
    height: 25px;
    margin: 0 2px;
}

.StopPage .scheduledTripWarning {
    font-size: 0.9em;
    margin: 10px 0;
}


.TripInStop {
    border-radius: 12px;
    padding: 8px 5px;
    display: flex;
    align-items: center;
}
.TripInStop .time {
    width: 30px;
    text-align: right;
}

.TripInStop .route {
    width: 22px;
    height: 22px;
    margin: 0 5px;
}

.TripInStop .lastStop {
    margin-left: 3px;
    font-size: 0.9em;
}

.TripInStop.evenStop {

    background: #E1F4F7;
}