.FavoritesPage .header {
    font-size: 1.3em;
    margin: 10px 0 10px 0;
    text-align: center;
}

.FavoritesPage .ListElement {
    border-radius: 12px;
    padding: 8px 5px;
    display: flex;
    align-items: center;
}

.FavoritesPage .ListElement .ListOfRouteLogos > div {
    width: 22px;
    height: 22px;
    margin: 0 2px;
}

.FavoritesPage .name {
    margin-left: 3px;
    font-size: 0.9em;
}