.App {
  width: 300px;
  margin: 10px auto 0 auto;

}

.container {
  padding: 10px;
border-radius: 12px;
  background-color: aliceblue;
  min-height: 400px;

}

.footer {
  margin: 0px 10px;
  font-size: 0.8em;
  line-height: 1.4em;
  color: black;
}

.footer a {
  color: black;
}