.App {
    width: 300px;
    margin: 10px auto 0 auto;

}

.container {
    padding: 10px;
    border-radius: 12px;
    background-color: aliceblue;
    min-height: 400px;
}

.footer {
    margin: 0px 10px;
    font-size: 0.8em;
    line-height: 1.4em;
    color: black;
}

.footer a {
    color: black;
}


.header {
}

.header .home {
    border-radius: 12px 12px 0 0 ;
    padding: 10px;
    text-align: center;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .home img {
    margin-left: 5px;
    display: block;
    width: 20px;
    height: 20px;
}

.header a {
    color: black;
    text-decoration: none;
}

.header a:hover .home {
    background: #E1F4F7;
}