name: Build

on: [push, pull_request]

jobs:
  build-and-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
        with:
          username: jamespfennell
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build the Docker image and push to Docker Hub
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          tags: jamespfennell/realtimerail.nyc:build-${{ github.run_number }}
          # Only push to Docker Hub if this workflow is a push to master
          push: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
